name: deploy
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/main.yaml
defaults:
  run:
    shell: bash
jobs:
  dev:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - run: echo ${{ github.sha }} x

  stg:
    runs-on: ubuntu-latest
    environment: stg
    steps:
      - run: echo ${{ github.sha }}

  prd:
    runs-on: ubuntu-latest
    environment: prd
    steps:
      - run: echo ${{ github.sha }}
